extends ../layout

block content
	if current_user
		.row.container
			.col.s12
				.row
					.col.s12
						- var o = 33
						while o--
							if (o % 2) == 0
								.card-panel.yellow.accent-1
									.row.valign-wrapper
										.col.s2.m1
											img.circle.responsive-img(src="/images/colorfull6.jpg")
										.col.s10
											span.black-text This is a square image. Add the "circle" class to it to make it appear circular.
							else
								.card-panel
									.row.valign-wrapper
										.col.s2.m1
											img.circle.responsive-img(src="/images/amethyst_flat.png")
										.col.s10
											span.black-text This is a square image. Add the "circle" class to it to make it appear circular.
						

	else
		.container.row
			p= current_user
			section.col.s12.grey.lighten-5.card-panel
				h1.tangerine.cyan-text Stay_here
				p.cyan-text ログインはこちらから
				include ../auth/_login_form
				include ../auth/_attention	
				

