extends ../layout

block content
	.container
		.card-panel
			h5 ID検索
			form(action="")
				.row
					.input-field.col.s9
						input(type="text" name="uniq_user_id")
					.input-field.col.s3
						button.btn-flat.waves-effect.blue.accent-3.white-text
							i.fa.fa-search
		
		ul.collection.with-header
			li.collection-header
				h5 検索結果
			- var i = 33
			while i--
				li.collection-item.avatar
					i.circle.fa.fa-user.cyan-text.white
					span.title Something name
					p something description

					a(href="" class="secondary-content btn-flat waves-effect white")
						i.fa.fa-heart-o.pink-text

